<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xin Yi</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="intro-container">
            <a href="#hitmeup"><button class="intro-btn">Hit me up</button></a>
            <div class="intro-text"><h1>I am Xin Yi. <br></h1></div>
        </div>
        <div class="skills-container">
            <h1 class="part-title">my skills</h1>
            <div class="skills-content">
                <div class="skill">
                    <div class="skill-img-box eat"></div>
                    <div class="skill-textspace">
                        <div class="skill-title">Eat</div>
                        <div class="skill-description">I can eat no matter what time it is. I always finish my food regardless of the portion.</div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-img-box sleep"></div>
                    <div class="skill-textspace">
                        <div class="skill-title">Sleep</div>
                        <div class="skill-description">My sleeping pattern is a free-style. However, I always sleep deep without dream.</div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-img-box cook"></div>
                    <div class="skill-textspace">
                        <div class="skill-title">Cook</div>
                        <div class="skill-description">I started cooking since year 2017 and I know how to cook various korean dishes.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="experience-container">
            <h1 class="part-title">my work</h1>
            <div class="experience-content">
                <div class="experience">
                    <div class="experience-img-box work1"></div>
                    <div class="experience-textspace">
                        <div class="experience-title">Web development</div>
                        <div class="experience-description">
                            <ul>
                                <li>I can create visually appealing frontend using HTML, CSS and Javascript.</li>
                                <li>I also learned Node.js for backend development.</li>
                                <li>I can configure local network to kinda host my website on-premise.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="experience">
                    <div class="experience-img-box work2"></div>
                    <div class="experience-textspace">
                        <div class="experience-title">Problem solving</div>
                        <div class="experience-description">
                            <ul>
                                <li>I got an A+ in Algorithm course in my university.</li>
                                <li>I do coding challenges from <a href="https://www.acmicpc.net/">Baekjoon Online Judge</a>, and is currently ranked <em>Silver II</em>.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-container" id="hitmeup">
            <h1 class="part-title">contact me</h1>
            <div class="contact-content">
                <div class="contact github"><a href="https://github.com/znyi" target="_blank" rel="noopener noreferrer"></a></div>
                <div class="contact linkedin"><a href="https://www.linkedin.com/in/xin-yi-wong-436a3a245/" target="_blank" rel="noopener noreferrer"></a></div>
                <div class="contact facebook"><a href="https://www.facebook.com/xinyi.wong.1428/" target="_blank" rel="noopener noreferrer"></a></div>
                <div class="contact instagram"><a href="https://www.instagram.com/znyi_/" target="_blank" rel="noopener noreferrer"></a></div>
                <div class="contact email"><a href="mailto: xinyi2709@gmail.com" target="_blank" rel="noopener noreferrer"></a></div>
                <!--https://www.freecodecamp.org/news/how-to-use-html-to-open-link-in-new-tab/-->
            </div>
        </div>
        <div class="outro-container">
            Created by Xin Yi. All rights reserved.
        </div>
    </div>
</body>
</html>